.baykal-dogs {
  margin: auto;
  max-width: 1184px;
  padding: 0 48px 0 48px;
}

/* 1024 */
@media screen and (max-width: 1279px) {
  .baykal-dogs {
    padding: 0;
  }
}

/* 768 */
@media screen and (max-width: 1023px) {
}

/* => 320 */
@media screen and (max-width: 767px) {

}

/* <= 320 */
@media screen and (max-width: 319px) {
}