.intro__lists {
  list-style-type: none;
  margin: 0;
  padding: 33px 0 0 0;
  text-align: left;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}

/* => 320 */
@media screen and (max-width: 767px) {
  .intro__lists {
    padding-top: 34px;
  }
}

/* <= 320 */
@media screen and (max-width: 319px) {
  .intro__lists {
    font-size: 5px;
  }
}