.cover__subtitle {
  margin: 0;
  margin-top: 10px;
  max-width: 360px;
  grid-column: 1/1;
  grid-row: 2/2;
  font-weight: 400;
  font-size: max(14px, min(18px, calc(100vw * 4 / 92)));
  line-height: 114%;
  align-self: start;
  justify-self: center;
  text-align: center;
  opacity: 0.99;
}

/* <= 320 */
@media screen and (max-width: 319px) {
  .cover__subtitle {
    margin-bottom: max(0px, min(46px, calc(100vw * 4 / 500)));
    width: max(50px, min(360px, calc(100vw * 4 / 5)));
    font-size: max(7px, min(14px, calc(100vw * 4 / 32)));
     overflow-wrap: break-word;
  }
}
