.footer__links {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, min-content) 1fr;
  grid-template-rows: repeat(1, min-content);
  gap: 18px;
}

/* => 320 */
@media screen and (max-width: 767px) {
  .footer__links {
    grid-template-columns: repeat(1, min-content);
    row-gap: 32px;
  }
}

/* <= 320 */
@media screen and (max-width: 319px) {
  .footer__links {
  padding: 0;
  width: 10px;

  }
}