.place__link {
  color: white;
  align-self: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
}

.place__link:hover {
  opacity: 0.7;
  transition: opacity 0.2s linear;
}

/* <= 320 */
@media screen and (max-width: 319px) {
  .place__link {
    overflow-wrap: break-word;
    font-size: max(6px, min(18px, calc(100vw * 4 / 32)));
  }
}
