.places-blocks__grids_title {
  padding: 0;
  margin: 0;
  grid-column: 1/1;
  grid-row: 1/1;
  font-weight: 800;
  font-size: 72px;
  line-height: 106%;
  align-self: end;
}

/* 1024 */
@media screen and (max-width: 1279px) {
}

/* 768 */
@media screen and (max-width: 1023px) {
  .places-blocks__grids_title {
    font-size: 42px;
  }
}

/* => 320 */
@media screen and (max-width: 767px) {
  .places-blocks__grids_title {
    font-size: 32px;
    padding-left: 16px;
  }
}

/* <= 320 */
@media screen and (max-width: 319px) {
}