.header__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0 48px;
  width: 100%;
  box-sizing: border-box;
}

/* 1024 */
@media screen and (max-width: 1279px) {
  .header__top {
    padding: 0 46px;
  }
}

/* 768 */
@media screen and (max-width: 1023px) {
  .header__top {
    padding: 0 24px;
  }
}

/* => 320 */
@media screen and (max-width: 767px) {
  .header__top {
    padding: 0 16px;
  }
}

/* <= 320 */
@media screen and (max-width: 319px) {
}
