.footer {
  grid-area: footer;
  width: 100%;
  padding: 92px 48px 24px 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  box-sizing: border-box;
}

/* 1024 */
@media screen and (max-width: 1279px) {
  .footer {
    padding: 92px 48px 24px 48px;
    box-sizing: border-box;
  }
}

/* 768 */
@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px 24px;
    box-sizing: border-box;
  }
}

/* => 320 */
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 88px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 64px 0 24px 16px;
  }
}

/* <= 320 */
@media screen and (max-width: 319px) {
  .footer {
    padding: 64px 0 24px 6px;
  }
}
