.place__url-heading {
  margin: 0;
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  padding-bottom: 12px;
}

/* => 320 */
@media screen and (max-width: 767px) {
  .place__url-heading {
    margin: 0;
  }
}

/* <= 320 */
@media screen and (max-width: 319px) {
  .place__url-heading {
    font-size: max(5px, min(12px, calc(100vw * 4 / 32)));
  }
}