.header__title {
  max-width: 720px;
  margin: 0;
  padding: 56px 0 0 0;
  text-align: center;
  /* Делаем адаптивный шрифт */
  font-size: max(12px, min(96px, calc(100vw * 4 / 32)));
  line-height: 104%;
  font-weight: 800;
}

/* 1024 */
@media screen and (max-width: 1279px) {
  .header__title {
    padding: 48px 17.5% 0 17.5%;
  }
}

/* 768 */
@media screen and (max-width: 1023px) {
  .header__title {
    padding: 48px 6% 32px 6%;
  }
}

/* => 320 */
@media screen and (max-width: 767px) {
  .header__title {
    padding: 48px 4% 16px 4%;
  }
}

/* <= 320 */
@media screen and (max-width: 319px) {
}
