.place__website {
  align-self: end;
}

/* => 320 */
@media screen and (max-width: 767px) {
  .place__website {
    padding-left: 16px;
  }

  .place__website:last-child {
    grid-column: 1/1;
    grid-row: 2/2;
  }
}

/* <= 320 */
@media screen and (max-width: 319px) {
  .place__website {
    padding-left: 5px;
  }
}