.intro__title {
  margin: 0;
  line-height: 107%;
  font-weight: 900;
  padding-bottom: 40px;
  font-size: 54px;
}

/* => 320 */
@media screen and (max-width: 767px) {
  .intro__title {
    padding-right: 18%;
    font-size: 32px;
  }
}

/* <= 320 */
@media screen and (max-width: 319px) {
  .intro__title {
    min-width: 0;
    padding-right: 1%;
    font-size: max(10px, min(32px, calc(100vw * 0.125)));
  }
}
